/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// XLarge desktops
$screen-xxl-min: 1440px;

// Colors
$white: #fff;
$black: #000;

:root{
    --sand: #F4D3C9;
    --tan: #FFEDE0;
    --peach: #E9A69D;
    --forest: #3D5A34;
    --lime: #98B66B;
    --pink: #E18078;
    --black: #000000;
    --white: #FFFFFF;
}
