/* =============
    Base
============= */

ul{
    margin: 0;
    padding: 0;
    li{
        list-style: none;
    }
}

html{
    scroll-behavior: smooth;
}

.show-menu{
    display: block !important;
}

.global-grid-mobile{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". mobile-grid .";
    
    @include xxl{
        grid-template-columns: auto 1440px auto;
    }
    
    >div{
        grid-area: mobile-grid;
    }
}

.show-for-md{
    display: block;
    @include md{
        display: block;
    }
    @include lg{
        display: none;
    }
}

.show-for-lg{
    display: none;
    @include md{
        display: none;
    }
    @include lg{
        display: block;
    }
}

.spacing{
    // margin: 32px 0 0 0;
    margin-top: 32px;
    @include md{
        margin-top: 64px;

    @include xxl{
        margin-top: 72px;
    }
    }

    margin-bottom: 16px;
    @include md{
        margin-bottom: 32px;

    @include xxl{
        margin-bottom: 40px;
    }
    }
}

// p{
//     font-weight: 200;
//     font-size: rem-calc (16);
// }

// h1{
//     font-weight: 500;
//     text-align: left;
//     font-size: rem-calc (27);
//     margin: 24px 0 16px 0;
//     padding: 0 16px;
// }

// h2{
//     font-weight: 400;
//     text-align: left;
//     font-size: rem-calc(20);
//     margin: 24px 0 16px 0;
//     padding: 0 16px;
// }

// h3{
//     font-weight: 300;
//     text-align: left;
//     font-size: rem-calc (20);
//     margin: 24px 0 16px 0;
//     padding: 0 16px;
// }

// h4{
//     font-weight: 300;
//     text-align: left;
//     font-size: rem-calc (16);
//     margin: 24px 0 16px 0;
//     padding: 0 16px; 
// }

// h5{
//     font-weight: 200;
//     text-align: left;
//     font-size: rem-calc (14);
//     margin: 24px 0 16px 0;
//     padding: 0 16px;
// }