/* =============
    Base
============= */

.global-grid-mobile{
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". mobile-grid .";
    >div{
        grid-area: mobile-grid;
    }
}

.spacing{
    // margin: 32px 0 0 0;
    margin-top: 32px;
    @include md{
        margin-top: 64px;

    @include xxl{
        margin-top: 72px;
    }
    }
}