/* =============
    Blog
============= */

// .blogsizing{
//     section{   
//         img{
//             width: 100%;
//         }
//     }
// }


#blog{

    // display: grid;
    // gap: 16px;

    // @include md{
    //     grid-template-columns: repeat(4,1fr);
    //     grid-template-areas: 
    //     "blog-1 blog-1 blog-2 blog-2"
    //     "blog-3 blog-3 blog-4 blog-4"
    //     ". blog-5 blog-5 .";
    // }

    #blog-title{
        h3{
            color: gray;
        }
    }

    article{
        @include md{
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". blog .";
        }
        @include xxl{
            grid-template-columns: auto 1440px auto;
        }
    }

    #blog-container{
        display: grid;
        gap: 16px;

        @include md{
            grid-area: blog;
            grid-template-columns: repeat(4,1fr);
            grid-template-areas: 
            "blog-1 blog-1 blog-2 blog-2"
            "blog-3 blog-3 blog-4 blog-4"
            ". blog-5 blog-5 .";
        }

        @include lg{
            grid-template-columns: repeat(6,1fr);
            grid-template-areas: 
            "blog-1 blog-1 blog-2 blog-2 blog-3 blog-3"
            ". blog-4 blog-4 blog-5 blog-5 .";
        }
    }

    .blog-card{
        background-color: rgb(61, 90, 52);

        section{
            background-size: cover;
            height: 300px;
            background-position: center;
        }

        div{
           
            padding: 16px;
        }
    }

    #blog-1{

        @include md{
            grid-area: blog-1;
        }

        section{
            background-image: url("../img/blog/blog1.jpg");
        }
        div{
            h1{
                color: white;
                font-weight: 500;
            }
            p{
                color: white;
                font-weight: 200;
                font-size: rem-calc (16);
            }
        }
    }

    #blog-2{

        @include md{
            grid-area: blog-2;
        }
        
        section{
            background-image: url("../img/blog/blog2.jpg");
        }
        div{
            h1{
                color: white;
                font-weight: 500;
            }
            p{
                color: white;
                font-weight: 200;
                font-size: rem-calc (16);
            }
        }
    }

    #blog-3{

        @include md{
            grid-area: blog-3;
        }
        
        section{
            background-image: url("../img/blog/blog3.jpg");
        }
        div{
            h1{
                color: white;
                font-weight: 500;
            }
            p{
                color: white;
                font-weight: 200;
                font-size: rem-calc (16);
            }
        }
    }

    #blog-4{

        @include md{
            grid-area: blog-4;
        }
        
        section{
            background-image: url("../img/blog/blog4.jpg");
        }
        div{
            h1{
                color: white;
                font-weight: 500;
            }
            p{
                color: white;
                font-weight: 200;
                font-size: rem-calc (16);
            }
        }
    }

    #blog-5{

        @include md{
            grid-area: blog-5;
        }
        
        section{
            background-image: url("../img/blog/blog5.jpg");
        }
        div{
            h1{
                color: white;
                font-weight: 500;
            }
            p{
                color: white;
                font-weight: 200;
                font-size: rem-calc (16);
            }
        }
    }


    // @include md{
    //     grid-template-columns: 50% auto;
    //     grid-template-rows: repeat(3, 433px);
    // }

    // @include lg{
    //     grid-template-columns: auto 80% auto;
    //     grid-template-rows: repeat(2, 405px);
    // }

    // @include xxl{
    //     grid-template-columns: auto 1440px auto;
    //     grid-template-rows: repeat(2, 429.34px);
    // }

    // body{
    //     font-family: "Josein Sans", sans-serif;
    //     display: grid;
    // }

    // img {
    //     max-width: 100%;
    //     display: block;
    // }
}


    
