/* =============
    Blog
============= */

.blogsizing{
    section{   
        img{
            width: 100%;
        }
    }
}


#blog{


    @include md{
        grid-template-columns: 50% auto;
        grid-template-rows: repeat(3, 433px);
    }

    @include lg{
        grid-template-columns: auto 80% auto;
        grid-template-rows: repeat(2, 405px);
    }

    @include xxl{
        grid-template-columns: auto 1440px auto;
        grid-template-rows: repeat(2, 429.34px);
    }
}


    
