/* =============
    HeroStripe
============= */
#hero-stripe{

    article{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
        }

        .hero-info{
            >div{
                display: flex;
                align-items: center;

                button{
                    background-color: transparent;
                    border: none;
                    font-size: rem-calc(18);
                    font-weight: 700;
                    color: var(--white);
                    margin-left: auto;
                    cursor: pointer;
                    transition: 0.25s;
                
                    &:hover{
                        
                    }
                }
                
            }
        }
        
        #hero-checklist{
            background-color: var(--forest);
            
            h3{
                font-weight: 300;
                color: var(--white);
            }
            h5{
                font-weight: 200;
                color: var(--white);
            }
            @include xxl{
                grid-template-columns: auto 720px 16px;
            }
        }

        #hero-locations{
            background-color: var(--lime);

            h4{
                font-weight: 300;
                color: var(--white);
            }

            h3{
                font-weight: 200;
                color: var(--white);
            }
            h5{
                font-weight: 200;
                color: var(--white);
            }
            @include xxl{
                grid-template-columns: 16px 720px auto;
            }
        }
    }

    @include md{
        grid-template-columns: 50% auto;
    }

    section{
        div{
            padding: none;
        }
    }
}

#hero-sub-container{

    display: grid;
    gap: 24px;
    margin-top: 24px;
    margin-bottom: 24px;

    @include md{
        grid-template-columns: 50% auto;
    }

    @include xxl{
        grid-template-columns: auto 720px 720px auto;
        grid-template-areas: ". plant supplies .";
    }

    #plant{
        @include xxl{
            grid-area: plant;
        }
    }

    #supplies{
        @include xxl{
            grid-area: supplies;
        }
    }

    .secondary-content{
        background-color: var(--sand);
        >div{
            display: flex;
            align-items: center;
            padding: 16px;

            .image-container{
                margin-left: auto;
            }

            h2{
                font-weight: 400;
                color: var(--white);
            }

            button{
                color: var(--white);
                font-weight: 200;
                background-color: var(--pink);
                border: none;
                border-radius: 5px;
                padding: 6px 14px;
                cursor: pointer;
                transition: 0.25s;
            
                &:hover{
                    background-color: var(--forest);
                }
            }
        }

    }
    
        // >div{
        //     display: grid;
        //     grid-template-columns: 75% auto;
            // margin-bottom: 16px;
            // margin-top: 16px;
    
            // aside{
            //     img{
            //         width: 100%;
            //     }
            // }
        }
    // }

// }