/* =============
    HeroStripe
============= */
#hero-stripe{
    @include md{
        grid-template-columns: 50% auto;
    }

    section{
        div{
            padding: 16px;
        }
    }

    article{
        @include md{
            display: grid;
            grid-template-columns: 50% auto;
            padding: 16px;
        }
    }
}

.secondary-content{
    >div{
        display: grid;
        grid-template-columns: 75% auto;

        aside{
            img{
                width: 100%;
            }
        }
    }
}