/* =============
    Search
============= */

#search{
    margin-top: 16px;
    margin-bottom: 16px;
    div{
        form{
            button{
                background-color: rgb(225, 128, 120);
                border: none;
            }
        }
    }
}