/* =============
    Footer
============= */
footer{

    button{
        color: white;
        font-weight: 200;
        background-color: rgb(225, 128, 120);
        border: none;
    }
    
    >div{

        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50% auto;
            grid-template-areas: 
            "locations community"
            ". follow";
        }
        @include lg{
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "locations community follow";
        }

        #locations{

            @include md{
                grid-area: locations;
            }

            address{
                font-style: normal;
            }

            section{
                div{
                    section{
                        display: grid;
                        grid-template-columns: 8% auto;
                    }
                }
            }
        }

        #community{
            @include md{
                grid-area: community;
            }
        }

        #follow{
            @include md{
                grid-area: follow;
            }
        }


    }
    background-color: rgb(255, 237, 224);
}
