/* =============
    Footer
============= */
footer{

    button{
        color: white;
        font-weight: 200;
        background-color: rgb(225, 128, 120);
        border: none;
        border-radius: 5px;
        margin-top: 8px;
    }
    
    >div{

        display: grid;
        gap: 16px;

        @include md{
            grid-template-columns: 50% auto;
            grid-template-rows: 140px 300px;
            grid-template-areas: 
            "locations community"
            "loactions follow";
        }
        @include lg{
            grid-template-columns: repeat(3,1fr);
            grid-template-areas: 
            "locations community follow";
        }

        #locations{

            @include md{
                grid-area: locations;
            }

            address{
                font-style: normal;
            }

            section{
                div{
                    section{
                        display: grid;
                        grid-template-columns: 8% auto;
                        // align-items: center;
                    }
                }
            }
        }

        #community{
            @include md{
                grid-area: community;
            }

            div{
                // border-color: rgb(244, 211, 201);
                // border-radius: 5px;
                form{
                    // background-color: rgb(244, 211, 201);
                    // border: none;
                    // border-color: rgb(244, 211, 201);
                    // border-radius: 5px;
                }
            }
        }

        #follow{
            @include md{
                grid-area: follow;
            }
        }


    }
    background-color: rgb(255, 237, 224);
}
