/* =============
    Header
============= */
header{
    padding-top: 8px;
    background-color: var(--tan);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;

    @include lg{
        padding: 24px;
    }

    >div{
        display: grid;
        grid-template-columns: 50% auto;

        #logo-container{

        }

        #burger-container{
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg{
                display: none;
            }

            #burger-btn{
                border: none;
                background-color: transparent;
                color: var(--forest);
                padding: 16px;

                &:hover{
                    color: var(--lime);
                }
            }
        }
    }
}