/* =============
    Buttons
============= */

button{
    margin: 0;
    padding: 0;
    cursor: pointer;
}

// .pink-button{
//     background-color: rgb(225, 128, 120);
//     border: none;
//     color: white;
//     padding: 6px 14px;
//     cursor: pointer;
//     transition: 0.25s;

//     &:hover{
//         background-color: rgb(61, 90, 52);
//     }
// }