/* =============
    Navigation
============= */

a:link, a:visited{
    text-decoration: none;
    transition: 0.25s;
}

nav{
#main-menu{
    // display: none;
    background-color:  rgb(225, 128, 120);
    height: 100vh;
    padding: 16px;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    box-sizing: border-box;

    @include lg{
        background-color: white;
        display: block;
        height: 100%;
        padding: 0;
        position: relative;
        width: 100%;
    }

    aside{
        display: flex;
        justify-content: flex-end;

        button{
            background-color: transparent;
            border: none;
            color: rgb(244, 211, 201);
        }
    }
    section{
        display: flex;
        justify-content: center;
        margin-top: 10vh;

        ul{

            li{
                a:link, a:visited{
                    text-decoration: none;
                    transition: 0.25s;
                    color: rgb(244, 211, 201);
                    padding: 16px;
                    display: inline-block;
    
                    &:hover, &:active{
                        color: rgb(61, 90, 52);
                    }
                }
            }
        }
    }

}

}